li {
  list-style: none;
}

h3 {
  margin: 0;
  width: 360px;
  text-align: center;
}

p {
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 360px;
  margin: auto;
  margin-bottom: 0.5em;
}

.video__thumbnail {

}

.video__title {
  
}

.video__channel-title {

}